# Environment Isolation Exclusions
venv/
.venv/
env/
ENV/

# Python Performance Caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Packaging and Build Distribution
*.egg-info/
build/
dist/
*.egg

# Local Telemetry Log Exclusions
*results.json
telemetry_report.json
.env
